<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Url Shortner</title>
    <script>
      src = "copy.js";
    </script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='cropped-favicon.png') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/5f3f547070.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Website Title -->
    <div class="container">
      <h2 class="container-heading">
        <span class="heading_font">Url Shortner</span>
      </h2>
      <div class="description">
        <p>A Simple Web Application,that shortens Long Urls.</p>
      </div>
    </div>
    <a href="/" class="home_button">Home</a>
    <!-- Text Area -->
    <div class="ml-container">
      <center>
    <table border="3" style="border-radius: 16px; border: none;">
        <tr>
            <th><center>ORIGINAL_URL</center></th>
            <th><center>COMPRESSED_URL</center></th>
        </tr>
    {% for key in data_mongo %}
    <tr>
        <td><b>{{ key.get("short_url") }}</b></td>
        <td><b>{{ key.get("long_url") }}</b></td>
    </tr>
    {%endfor%}
    </table>
    </center>

    </div>



    <!-- Footer -->
    <div class="footer">
      <div class="contact">
        <a target="_blank" href="https://github.com/vinaynamani"
          ><i class="fab fa-github fa-lg contact-icon"></i
        ></a>
        <a target="_blank" href="https://www.linkedin.com/in/vinaynamani/"
          ><i class="fab fa-linkedin fa-lg contact-icon"></i
        ></a>
      </div>
      <p class="footer-description">Made with ❤️ by Vinay Namani.</p>
    </div>

    <script>
      function copyToClipboard(var1) {
        let val = document.getElementById(var1).innerHTML;
        const selBox = document.createElement("textarea");
        selBox.style.position = "fixed";
        selBox.style.left = "0";
        selBox.style.top = "0";
        selBox.style.opacity = "0";
        selBox.value = val;
        document.body.appendChild(selBox);
        selBox.focus();
        selBox.select();
        document.execCommand("copy");
        document.body.removeChild(selBox);
        alert("text copied to clipboard, please use Ctrl-V to paste the data");
      }
    </script>
  </body>
</html>
